{% extends 'blog/base.html' %}
{%block content%}
<section class="section">
  <div class="container">
    <h2 class="section-title">Buy <span>Instrumentals</span></h2>
    
    <div class="grid"> 
     {% if All_Instrumentals %}
     {% for Instrumental in All_Instrumentals %}
      <a href="{% url 'instrumental_details' Instrumental.pk %}">
      <div class="card">
        <img src="{{Instrumental.cover_image.url}}" alt="{{Instrumental.title}}" loading="lazy">
        <h3>{{Instrumental.title}} - <span>{{instrumetal.producer_name}}</span></h3>
        <p>{{Instrumental.price}}</p>
        <button class="btn btn-primary" style="margin-top: 10px;">Buy Now</button>
      </div>
    </a>
      {% endfor %}
      {% else %}
      <p>No Instrumentals Here</p>
      {% endif %}

    </div>
  </div>

  {% comment %} PAGINATOR HERE {% endcomment %}
  <div class="pagination">
    <div class="page-buttons">
      {% if page_obj.has_previous %}
        <a href="?page=1" class="page-btn edge">« First</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-btn edge">‹ Prev</a>
      {% else %}
        <span class="page-btn edge disabled">«First</span>
        <span class="page-btn edge disabled">‹Prev</span>
      {% endif %}
  
      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <span class="page-btn active">{{ num }}</span>
        {% elif num == 1 or num == page_obj.paginator.num_pages %}
          <a href="?page={{ num }}" class="page-btn">{{ num }}</a>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
          <a href="?page={{ num }}" class="page-btn">{{ num }}</a>
        {% elif num == page_obj.number|add:'-2' or num == page_obj.number|add:'2' %}
          <span class="page-btn dots">...</span>
        {% endif %}
      {% endfor %}
  
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="page-btn edge">Next ›</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-btn edge">Last »</a>
      {% else %}
        <span class="page-btn edge disabled">Next›</span>
        <span class="page-btn edge disabled">Last»</span>
      {% endif %}
    </div>
  </div>

</section>
{% endblock %}